* {
	margin: 0;
	padding: 0;
}

body {
	max-width: 100vw;
}
/* ----- HEADER ----- */
.header {
	font-family: nyt-franklin, helvetica, arial, sans-serif;
	background: #fff;
	border-bottom: 1px solid #e2e2e2;
	position: fixed;
	padding-top: 10px;
	width: 100vw;
}

.header-buttons {
	float: left;
	padding-left: 9%;
	padding-top: 
}

.header-link {
	float: left;
	width: 16px;
}

.header-link a {
	color: #000;
	font-weight: bolder;
	text-decoration: none;
}
.header-search {
	padding: 0 20px;
}
.header-cosmos {
	width: 130px;
    font-size: 0.9em;
    margin-top: -5px;
}

.header-middle {
	margin: 0 auto;
	width: 195px;
}
.header-subscribe {
	position: absolute;
	top: 4px;
	right: 9%;
}
.header-button {
	background-color: #6288a5;
	border: 1px solid #326891;
	border-radius: 3px;
	color: #fff; 
	font-size: 0.65em;
	font-weight: bold;
	padding: 11px 12px 8px; 
}

/* ----- INTRO ----- */
.intro {
	margin: 0 18% 30px;
	padding-top: 100px;
}

.intro figure,
.intro figure img {
	width: 100%;
}

.intro h1{
	font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
	font-size: 2.5rem;
	margin: 0 auto 1.5rem;
	width: 70%;
	position: relative;
	line-height: 3rem;
	font-weight: 700;
	font-style: italic;
	vertical-align: baseline;

}

/* ----- CONTENT-ARTICLE-Header ----- */
.article-header {
	font-family: nyt-franklin, helvetica, arial, sans-serif;
	height: 70px;
}
.article-header h5 {
	font-size: 17px;
	font-weight: bolder;
	position: relative;
	top: -5px;
}
.article-header h5 a {
	color: #000;
	text-decoration-color: #ccc;
}
.article-header h5 a:hover { text-decoration: none; }

.article-header-date {
	float: left;
	font-size: 14px;
	width: 40%
}

.article-header-date p { padding-top: 5px; }

.article-header-buttons {
	justify-content: space-between;
	display: flex;
	float: right;
	width: 25%;
	overflow: hidden;	/*float bug fix*/
}

.article-header-icon svg:not(.css-ubw31m) {
	vertical-align: middle;
    width: 15px;
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding: 5px;
    width: 15px;
    height: 15px;
}

.css-4brsb6:hover {
	background-color: #000;
}

.bookmark svg { vertical-align: middle; }

.comments {
	background-image: url("https://img.icons8.com/small/32/000000/topic--v1.png");
	font-size: 12px;
	width: 30px;
	text-align: center;
}
/* ----- CONTENT-ARTICLE ----- */
.article-image-caption{
	width: 80%;
}

.article-image-caption span {
	font-family: nyt-imperial,georgia,'times new roman',times,serif;
	color: #666;
	max-width: 70vw;
	margin: 0px 0px 20px;
	font-size: 0.9375rem;
	line-height: 1.25rem;
}

.article-image-caption span:last-child{
	color: #888;
	font-size: 0.8125rem;
}

.article-text,
.article-header {
	width: 35%;
	font-size: 1.25rem;
	line-height: 1.875rem;
	font-family: nyt-imperial,georgia,'times new roman',times,serif;
	color: #333;
	margin: 0 auto;
}

.article-text p {
	margin-bottom: 0.9375rem;
}

.article-text h3 {
	margin-bottom: 0.9375rem;
	margin-top: 0.9375rem;
}

.article-frame{
	width: 70vw;
	margin: 0 auto;
}

/* ----- CONTENT - ARTICLE 
font-family: nyt-imperial,georgia,'times new roman',times,serif;
color: #666;
max-width: 70vw;
margin: 10px 20px 0;
display: block;

----- */